---
import Layout from '../layouts/Layout.astro';
import CardPokemon from '../components/pokemons/CardPokemon.astro';
import type { PokemonResponse } from "../interfaces/pokemon.response";
import Title from '@components/shared/Title.astro';
const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=12");
const data = await res.json() as  PokemonResponse;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Pokemon | Home'>
	<Title >Listado de pokemons</Title>
	<section class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 mt-10" aria-label="listado de pokemons">
		{data.results.map((pockemon) => <CardPokemon name={pockemon.name} url={pockemon.url}/>)}
	</section>
	
</Layout>
