---
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Title from "@components/shared/Title.astro";
import Layout from "src/layouts/Layout.astro";


---

<Layout title='Mis Favs | Home'>
	<Title> Mis Favoritos</Title>
	<FavoritePokemons client:only/>
</Layout>
